<section class="experience">
  <aside>
    <h4 class="experience__title">The new</h4>
    <h4 class="experience__title">Experience</h4>

    <p class="experience__content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate fugit nesciunt
      voluptatem cupiditate unde
      sequi?</p>

    <button class="experience__browse">Browse products</button>
  </aside>
  <article class="experience__image">
    <img
      src="https://images.pexels.com/photos/459654/pexels-photo-459654.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="Setup Desktop">
  </article>
</section>
