@import "src/styles";

.hero {
  &__actions {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  &__products {
    @include button-styles($black, $white, $black);
  }

  &__about {
    @include button-styles($gray, $black, #ffffff);
  }
}
