<section class="story">
  <article class="story__product-image">
    <img
      src="https://images.pexels.com/photos/3568521/pexels-photo-3568521.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="Story about">
  </article>
  <aside class="story__about">
    <section>
      <h2 class="story__about__title">Premium</h2>
      <h2 class="story__about__title">Design and</h2>
      <h2 class="story__about__title">Quality</h2>
    </section>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam aspernatur expedita autem vero temporibus
      laborum dolor excepturi deserunt pariatur veniam.</p>
    <button class="story__about__read">Read our Story</button>
  </aside>
</section>