@import "src/styles";

.card {
  width: minmax(230px, 100%);
  margin: 1.2rem 0;

  &__header {
    overflow: hidden;
    width: 100%;
    min-height: calc(20vh - 120px);

    &__product {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 25px;
    }
  }

  &__footer {
    h5 {
      font-size: 1.4rem;
      font-weight: 100;
    }

    h6 {
      font-size: 1rem;
      font-weight: 300;
    }
  }
}
