@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap");

$black: #101010;
$white: #f4f4f4;
$gray: #dfdfdf;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background: none;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
button {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5,
span,
button,
p {
  font-size: 1rem;
}

$breakpoints: (
  medium: 786px,
  large: 1024px,
  extra-large: 1600px
);

@mixin responsive-screen($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@include responsive-screen(medium) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5,
  span,
  button,
  p {
    font-size: 1rem;
  }
}

.align-text-center {
  text-align: center;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}
